*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: "Noto Sans", sans-serif;
}

.site-header,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .75em;
}

.logo-img {
    max-width: 30px;
    max-height: 30px;
    margin-right: .75em;
}

.logo-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: .85rem;
}

nav {
    margin: 0 0 0 auto;
}

ul {
    display: inline-flex;
}

li {
    font-size: .85rem;
    list-style-type: none;
    margin-left: .75em;
    cursor: pointer;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(images/article-image-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    min-height: 45vh;
}

.header-text-wrapper {
    padding: 0 1em 2em;
}

h1 {
    font-size: 1.5rem;
    margin: .25em 0 .25em -2px;
}

p {
    font-size: .85rem;
}

main {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-areas:
        "..... ..... ....."
        "..... blog1 ....."
        "..... blog2 ....."
        "..... blog3 ....."
        "..... more  ....."
        "..... ..... .....";
    gap: 2em 0;
}

.blog-one {
    grid-area: blog1;
}

.blog-two {
    grid-area: blog2;
}

.blog-three {
    grid-area: blog3;
}

.more {
    grid-area: more;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

img {
    width: 100%;
    border-radius: .25em;
}

@media (min-width: 768px) {
    body {
        width: 80%;
        margin: 0 auto;
    }

    .logo-title {
        font-size: 1rem;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "..... ..... ....."
            "blog1 blog2 blog3"
            "..... more  ....."
            "..... ..... .....";
        gap: 1em;
        padding: 1em;
    }

    .header-text-wrapper {
        padding: 0 1.5em 2em;
    }

    h1 {
        font-size: 1.75rem;
    }
    
    p,
    li {
        font-size: initial;
    }
}