*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover.intro {
    color: rgb(255, 147, 232);
}

a:active {
    opacity: .5;
}

h1 {
    font-size: 1.5rem;
    margin: .25em 0 .25em -2px;
}

p {
    font-size: .85rem;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: hsla(0 0% 0% / 0.1) 0 0.1em .5em;
}

.site-header-wrapper,
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    max-width: 30px;
    max-height: 30px;
    margin-left: .5em;
}

.logo-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: .85rem;
    margin-left: .5em;
}

ul {
    display: flex;
}

li {
    font-size: .85rem;
    list-style-type: none;
    padding-left: .5em;
    cursor: pointer;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(images/article-image-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    min-height: 45vh;
}

.header-text-wrapper {
    padding: 0 1em 2em;
}

main {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-areas:
        "..... ..... ....."
        "..... blog1 ....."
        "..... blog2 ....."
        "..... blog3 ....."
        "..... arti1 ....."
        "..... arti2 ....."
        "..... arti3 ....."
        "..... more  ....."
        "..... ..... .....";
    gap: 1em 0;
}

.blog {
    margin-bottom: 1em;
}

.blog-one {
    grid-area: blog1;
}

.blog-two {
    grid-area: blog2;
}

.blog-three {
    grid-area: blog3;
}

.article-one {
    grid-area: arti1;
}

.article-two {
    grid-area: arti2;
}

.article-three {
    grid-area: arti3;
}

.more {
    grid-area: more;
}

.more p {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2em;
}

footer {
    text-align: center;
    background-color: #202020;
    color: whitesmoke;
    padding: 1.5em 0;
}

footer h4 {
    font-size: .85rem;
}

footer p {
    font-size: .75rem;
}

.intro {
    width: 90%;
    margin: 2em auto;
}

img.intro {
    display: block;
    width: 100%;
}

.recent {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .site-header {
        /* box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.05); */
        padding: .25em 0;
    }

    .logo-img {
        max-width: 40px;
        max-height: 40px;
    }
    
    .site-header-wrapper,
    .main-header,
    main {
        width: 80%;
        margin: 0 auto;
    }

    .intro {
        width: 100%;
        margin: 0 auto;
    }

    section.intro {
        width: 80%;
    }

    img.intro {
        display: block;
        padding-top: 3em;
    }

    .text-wrapper {
        width: 70%;
        margin: 0 auto;
        padding-top: 3em;
    }

    .logo-title {
        font-size: 1rem;
    }

    main {
        grid-template-columns: .5em repeat(3, 1fr) .5em;
        grid-template-areas:
            "..... ..... ..... ..... ....."
            "..... blog1 blog2 blog3 ....."
            "..... arti1 arti2 arti3 ....."
            "..... ..... ..... ..... ....."
            "..... ..... more  ..... ....."
            "..... ..... ..... ..... .....";
        gap: 1em;
    }

    .header-text-wrapper {
        padding: 0 2.5em 2em;
    }

    h1 {
        font-size: 1.75rem;
    }
    
    p,
    li {
        font-size: initial;
    }

    .recent {
        margin: 2em 0;
    }
}

img.blog-article {
    width: 100%;
    border-radius: .25em;
}